<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" parallel="none">

  <!--<listeners>-->
      <!--<listener class-name="org.example.LogListener"/>-->
  <!--</listeners>-->

  <test verbose="1" name="service-unit-test" annotations="JDK">
    <classes>
      <class name="acceptance.AcceptanceTest"/>
      <class name="acceptance.AcceptanceValidationsTest"/>
    </classes>
  </test>
</suite>
