<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

  <!--docs are over at the platform base-->
  <context-param>
    <param-name>documentation-base</param-name>
    <param-value>/places</param-value>
  </context-param>

  <context-param>
    <param-name>html-representation-layout</param-name>
    <param-value>/WEB-INF/html-representation.jsp</param-value>
  </context-param>

  <context-param>
    <param-name>error-layout</param-name>
    <param-value>/WEB-INF/error.jsp</param-value>
  </context-param>

  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <listener>
    <listener-class>
      org.familysearch.standards.place.ws.service.SolrDeployContextListener
    </listener-class>
  </listener>
	

<filter>
  <filter-name>CorsFilter</filter-name>
  <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  <init-param>
    <param-name>cors.allowed.origins</param-name>
    <param-value>*</param-value>
  </init-param>
  <init-param>
    <param-name>cors.allowed.methods</param-name>
    <param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
  </init-param>
  <init-param>
    <param-name>cors.allowed.headers</param-name>
    <param-value>Content-Type,X-Requested-With,accept,accept-language,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
  </init-param>
  <init-param>
    <param-name>cors.exposed.headers</param-name>
    <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
  </init-param>
  <init-param>
    <param-name>cors.support.credentials</param-name>
    <param-value>true</param-value>
  </init-param>
  <init-param>
    <param-name>cors.preflight.maxage</param-name>
    <param-value>10</param-value>
  </init-param>
</filter>
<filter-mapping>
  <filter-name>CorsFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>

  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>400</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>401</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>403</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>405</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>406</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>407</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>408</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>409</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>410</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>411</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>412</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>413</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>414</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>415</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>416</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>417</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>501</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>502</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>503</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>504</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <error-code>505</error-code>
    <location>/_error</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/_error</location>
  </error-page>

</web-app>
