container_commands:
  10_Update:
    command: yum update -y
    ignoreErrors: false
  20_CreateMountPointDir:
    command: mkdir /mnt/ramdisk
    cwd: /mnt
    ignoreErrors: false
  30_MountRAMDisk:
    command: mount -t tmpfs -o defaults,size=6g tmpfs /mnt/ramdisk
    cwd: /mnt
    ignoreErrors: false
  40_CreatePlaceDir:
    command: mkdir .place
    cwd: /mnt/ramdisk
    ignoreErrors: false
  50_ChangeOwners:
    command: chown -R tomcat:tomcat .
    cwd: /mnt/ramdisk/.place
    ignoreErrors: false